.com-1 {
  width: 920px;
}

.com-5 {
  padding: 0px 16px;
}

.com-2 {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0px 16px;
}

.com-btn-1{
  position:relative;
  height: 100px;
  justify-content: center;
  border-radius: 10px;
}
.com-btn-1 .Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.com-btn-2{
  line-height: normal;
  text-align: center;
  margin: 0px;
}

.com-btn-3 {
  padding: 0px 16px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.com-btn-4{
  font-size: 1vw;
  /* letter-spacing: -1px; */
}

.com-3 ul li {
  display: inline-block;
  width: calc(25% - 15px);
  margin: 5px 5px;
}

.com-4 ul li {
  display: inline-block;
  width: calc(20% - 15px);
  margin: 5px 5px;
}

.com-5 ul li {
  display: inline-block;
  width: calc(25% - 15px);
  margin: 5px 5px;
  /* font-size: 5px; */
}



.btnx-indigo{
  background: var(--bs-indigo); border: 2px solid var(--bs-indigo);
}
.btnx-purpule{
  background: var(--bs-purple); border: 2px solid var(--bs-purple);
}
.btnx-pink{
  background: var(--bs-pink); border: 2px solid var(--bs-pink);
}
.btnx-orange{
  background: var(--bs-orange); border: 2px solid var(--bs-orange);
}
.btnx-teal{
  background: var(--bs-teal); border: 2px solid var(--bs-teal);
}
.btnx-cyan{
  background: var(--bs-cyan); border: 2px solid var(--bs-cyan);
}
.btnx-lime{
  background: #7CB342; border: 2px solid #7CB342;
}
.btnx-indigo-light{
  color: var(--bs-indigo) ;background: #9FA8DA; border: 2px solid #9FA8DA;
}
.btnx-purpule-light{
  color: var(--bs-purple); background: #CE93D8; border: 2px solid #CE93D8;
}
.btnx-pink-light{
  color: var(--bs-pink);background: #F48FB1; border: 2px solid #F48FB1;
}
.btnx-orange-light{
  color: var(--bs-orange) ;background: #FFCC80; border: 2px solid #FFCC80;
}
.btnx-teal-light{
  color: #004D40;background: #80CBC4; border: 2px solid #80CBC4;
}
.btnx-cyan-light{
  color: #006064;background: #80DEEA; border: 2px solid #80DEEA;
}
.btnx-lime-light{
  color: #827717 ;background: #C5E1A5; border: 2px solid #C5E1A5;
}
.btnx-gray-light{
  color: #1D2024 ;background: #B4C1D1; border: 2px solid #B4C1D1;
}

.btnx-genre1{
  color: #6E5064 ;background: #B9D0B1; border: 2px solid #B9D0B1;
}
.btnx-genre2{
  color: #6E5064 ;background: #E1C0B6; border: 2px solid #E1C0B6;
}

.btnx-list1{
  color: #6E5064 ;background: #DCC8DC; border: 2px solid #DCC8DC;
}

